@import "tailwindcss";

.pasteCards {
  @apply border-1 border-zinc-700 hover:border-zinc-300
  hover:bg-gray-800
  hover:scale-105
  duration-200
  p-4 m-5 rounded-3xl bg-zinc-800 w-2xl
  ;
}

.InputTitle {
  @apply px-4 py-2 m-2 bg-zinc-900 rounded-xl hover:bg-zinc-800
  focus:outline-0 border-1 border-zinc-600 hover:border-zinc-500
  duration-300 w-2/3
}

.mainContent {
  @apply flex flex-col gap-y-4 mt-4 justify-center items-center 
  ;
}

.searchButton {
  @apply px-4 py-2 m-2 bg-blue-600 rounded-xl hover:bg-blue-500
  focus:outline-0 duration-300 w-1/3
  cursor-pointer
  active:scale-95 ;
}

.subHeader {
  @apply flex justify-center my-3 w-5/7 mx-auto;
} 

.pasteCardButtonsRow {
  @apply flex flex-row justify-end gap-x-3 px-1
  py-0.5 mt-3;
}

.pasteCardButton{
  @apply border-1 p-0.5 border-zinc-600 rounded-lg hover:border-zinc-400
  hover:bg-gray-700 duration-100 cursor-pointer w-15
  hover:scale-120;
}

.pasteTitle {
  @apply text-xl font-bold mb-2;
}

.pasteContent {
  @apply whitespace-pre-wrap;
}

.noResults {
  @apply flex flex-nowrap text-center mx-70;
}